.servicesContainer {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px;
}

.leistungTitle {
    margin-bottom: 15px;
    font-size: 35px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.servicesText {
    color: #666;
    margin-bottom: 10px;
}