.servicesContainer {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px;
}

.leistungTitle {
    margin-bottom: 15px;
    font-size: 35px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.servicesTitel {
    margin-bottom: 20px;
}

.servicesList {
    margin-bottom: 12px;
    padding-left: 1.5rem;
}


.servicesInfo {
    margin: 0 0 40px 24px;

}

.servicesInfo li::marker {
    color: #406182;
}

.servicesText {
    color: #666;
    margin-bottom: 10px;
}

.servicesFooterTitel {
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.servicesFooterKontakt {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.servicesFooterInfo {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.servicesFooterText {
    margin-bottom: 15px;
    color: #666;
}