.billboard {
    position: relative;
    width: 100%;
    height: 100vh; 
    padding: 0 30px;
}
.heading{
    margin-bottom: 15px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.slogan {
    position: absolute;       
    top: 70%;                   
    left: 35%;                  
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    z-index: 1;   
}

button {
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #406182;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
}

button:hover {
    background-color: #305060;
}
.p{
    font-size: 25px;
}