.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.card h2,
.card h3 {
    margin-bottom: 15px;
    color: #333;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listItem {
    padding: 8px 0;
    color: #666;
}


.subheading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}