.section {
    padding: 40px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.service {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 125px;
}

.icon {
    margin-bottom: 15px;
    color: #406182;
}

.serviceText {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.serviceDescription {
    margin-top: 15px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.bottomLine {
    border-bottom: 2px solid #e5e5e5;
    margin: 0 30px;
}

@media (max-width: 430px) {

    .section {
        gap: 21px;
    }


}

@media (max-width: 350px) {

    .section {
        padding: 30px;
    }
}
@media (max-width: 330px) {

    .section {
        padding: 25px;
    }
}
@media (max-width: 320px) {

    .section {
        padding: 20px;
    }
}