.errorLinkBtn {
    display: flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #393;
    color: #FFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}