.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    box-shadow: none;
}

.headerScrolled {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.headerContainer {
    width: 100%;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.contactIcons {
    display: flex;
    gap: 20px;
}

.headerScrolled .headerLogo .oneTitle {
    color: #333;
}

.oneTitle {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    margin: 0;
}

.twoTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 12px;
    margin: 5px 0 0;
}

.headerScrolled .contactLink {
    color: #333;
    /* Цвет иконок при прокрутке */
}

.contactLink {
    color: #fff;
    transition: transform 0.3s ease;
}

.contactLink:hover {
    transform: scale(1.2);
}