.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    box-shadow: none;
}

.headerScrolled {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.headerContainer {
    width: 100%;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.contactIcons {
    display: flex;
    gap: 20px;
}

.headerScrolled .headerLogo .oneTitle {
    color: #333;
}

.headerScrolled .contactLink svg {
    color: #406182;
}

/* .headerScrolled .burgerLine {
    background-color: #ccc;
} */

.headerScrolled .contactIcons.menuOpen {
    background-color: rgba(255, 255, 255, 0.9);
}

.oneTitle {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 0;
}

.contactLink {
    color: #fff;
    transition: transform 0.3s ease;
}

.contactLink svg {
    font-size: 34px;
    color: #fff;
}

.contactLink:hover {
    transform: scale(1.2);
}



@media (max-width: 1124px) {

    .headerContainer {
        padding: 25px 25px;
    }

    .oneTitle {
        font-size: 20px;
    }

}

@media (min-width: 769px) {
    .burgerMenu {
        display: none;
    }

    .contactIcons {
        display: flex;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .headerContainer {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
    }
    .oneTitle {
        color: #333;
    } 
    .contactIcons {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 64px;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        color: #406182;
    }

    .contactIcons.menuOpen {
        border-radius: 5px;
        display: flex;
        flex-direction: row-reverse;
        background-color: #406182;
        gap: 30px;
    }

    .burgerMenu {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .burgerLine {
        width: 25px;
        height: 3px;
        background-color: #ccc;
        margin: 5px 0;
    }

}

@media (max-width: 500px) {
    .oneTitle {
        max-width: 161px;
    }

    .burgerMenu {
        top: 30px;
    }

    .contactIcons {
        top: 88px;
    }

}