.errorContainer {
    margin: 80px auto;
    text-align: center;
}

.errorImg {
    height: 300px;
    margin-bottom: 32px;
}

.errorTitle {
    color: #282828;
    margin-bottom: 16px;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%
}

.errorText {
    color: #8B8B8B;
    margin-bottom: 32px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.linkBtnError {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .errorImg {
        width: 648px;
    }

    .errorTitle {
        font-size: 56px;
    }
}

@media (max-width: 690px) {
    .errorImg {
        width: 550px;
    }

    .errorTitle {
        font-size: 50px;
    }
}

@media (max-width: 590px) {
    .errorImg {
        width: 450px;
    }

    .errorTitle {
        font-size: 48px;
    }

    .errorText {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .errorImg {
        width: 440px;
    }

    .errorTitle {
        font-size: 48px;
    }
}

@media (max-width: 480px) {
    .errorImg {
        width: 370px;
    }

    .errorTitle {
        font-size: 44px;
        margin: 0px 20px 32px;
    }
}

@media (max-width: 410px) {
    .errorImg {
        width: 330px;
    }

    .errorTitle {
        font-size: 42px;
    }
}

@media (max-width: 360px) {
    .errorImg {
        width: 270px;
    }

    .errorTitle {
        font-size: 38px;
    }

    .errorText {
        font-size: 16px;
    }
}

@media (max-width: 280px) {
    .errorImg {
        width: 240px;
    }

    .errorTitle {
        font-size: 36px;
    }

    .errorText {
        font-size: 14px;
    }
}