.footer {
    background-color: #333333;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
}

.contactInfo {
    font-size: 1rem;
    color: #333;
}

.footerTitle {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #f3f3f3;
}
.footerTitleImp{
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #f3f3f3;
}
.footerTitle:hover {
    color: #999999;
}

.footerText {
    margin: 5px 0;
    line-height: 1.6;
    color: #999999;
}

.footerText:hover {
    color: #f3f3f3;
}

.footerKontakt {
    color: #999999;
}

.contactInfo a {
    color: #406182;
    text-decoration: none;
}

.contactInfo a:hover {
    color: #305060;
    text-decoration: underline;
}