.emblaWrapper {
  position: relative;
  max-width: 100%;
  margin: 70px auto;
  padding: 0 30px;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.emblaContainer {
  display: flex;
  margin-left: -16px; 
}

.emblaSlide {
  flex: 0 0 33.333%;
  padding-left: 16px; 
  box-sizing: border-box;
}
.emblaImage {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.emblaButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 12px;
}

.emblaButton:hover {
  background-color: #305060;
}

.emblaButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.emblaButtonPrev {
  left: 15px;
}

.emblaButtonNext {
  right: 75px;
}

.emblaButtons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  z-index: 20;
}
@media (max-width: 1510px) {

  .emblaSlide {
    min-width: 291px;
  }

}
@media (max-width: 414px) {

  .emblaSlide {
    min-width: 355px;
  }

}
@media (max-width: 390px) {

  .emblaSlide {
    min-width: 332px;
  }

}
@media (max-width: 375px) {

  .emblaSlide {
    min-width: 320px;
  }

}
@media (max-width: 925px) {
  .emblaSlide {
    flex: 0 0 50%;
  }
}

@media (max-width: 360px) {
  .emblaSlide {
    flex: 0 0 100%;
  }

  .emblaContainer {
    margin-left: -12px;
  }

  .emblaSlide {
    padding-left: 12px;
  }
}